version: "3.9"

services:
  app:
    build: .
    volumes:
      - ./:/var/www
    command: php -S 0.0.0.0:8000 -t /var/www/src /var/www/router.php
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: api
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
